<h1>{{data.name}}</h1>

<ul>
	<li>Id: {{data.id}}</li>
	<li>Last App: {{data.last_app}}</li>
	<li>Last ip address: {{data.last_ip_address}}</li>
	<li>Last heard: {{data.last_heard}}</li>
	<li>Product Id: {{data.product_id}}</li>
	<li>Connected: {{data.connected}}</li>
	<li>Platform Id: {{data.platform_id}}</li>
	<li>Cellular: {{data.cellular}}</li>
	<li>Status: {{data.status}}</li>
	<li>Variables: {{data.variables}}</li>
	<li>Functions: {{data.functions}}</li>
</ul>

<form action="/devices/function" method="POST">
	<div class="form-group">
		<label for="deviceId">Id</label>
		<input type="text" class="form-control" id="deviceId" name="deviceId" value="{{data.id}}">
	</div>

	<div class="form-group">
		<label for="functionName">Function Name</label>
		<input type="text" class="form-control" id="functionName" name="functionName">
	</div>

	<div class="form-group">
		<label for="functionParameter">Parameter</label>
		<input type="text" class="form-control" id="functionParameter" name="functionParameter">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>Raw Json: <br>{{rawJSON}}</p>