<h1>Login Page</h1>

<form action="/login" method="post">

	<div class="form-group">
		<label for="emailBox">Email</label>
		<input type="email" class="form-control" id="emailBox" name="email">
	</div>

	<div class="form-group">
		<label for="passwordBox">Password</label>
		<input type="password" class="form-control" id="passwordBox" name="password">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>

</form>