<p>
	Notifications Engine</p>

<p id="notificationStatus"></p>

<p id="pushStatus">Disabled</p>

<a href="#" id="btnSubscribeMovement" class="btn btn-default">Subscribe to Movement</a>

<div id="errorBox"></div>
<link rel="manifest" href="/manifest.json">
<script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC5x-0Tc7xM1hAfD0I4DqE41dDifLQqKZg",
    authDomain: "maddonotify.firebaseapp.com",
    databaseURL: "https://maddonotify.firebaseio.com",
    storageBucket: "maddonotify.appspot.com",
    messagingSenderId: "332950129317"
  };
  firebase.initializeApp(config);
</script>

<script>

const messaging = firebase.messaging();


messaging.requestPermission()
.then(function() {
  console.log('Notification permission granted.');
  // TODO(developer): Retrieve a Instance ID token for use with FCM.
  // ...
getToken();

})
.catch(function(err) {
  console.log('Unable to get permission to notify. ', err);
  outputError(err);
});

var updateUIForPushEnabled = function(token) {
//console.log(`updateUIForPushEnabled(${token})`);
console.log("push enabled");
$('#pushStatus').text("Enabled");
};

var updateUIForPushPermissionRequired = function() {
$('#pushStatus').text("Permission is required");
};

var getToken = function() {
  // Get Instance ID token. Initially this makes a network call, once retrieved
  // subsequent calls to getToken will return from cache.
  messaging.getToken()
  .then(function(currentToken) {
    if (currentToken) {
      sendTokenToServer(currentToken);
      updateUIForPushEnabled(currentToken);
    } else {
      // Show permission request.
      console.log('No Instance ID token available. Request permission to generate one.');
      // Show permission UI.
      updateUIForPushPermissionRequired();
      setTokenSentToServer(false);
    }
  })
  .catch(function(err) {
    console.log('An error occurred while retrieving token. ', err);
    outputError(err);
    showToken('Error retrieving Instance ID token. ', err);
    setTokenSentToServer(false);
  });


};

// Callback fired if Instance ID token is updated.
messaging.onTokenRefresh(function() {
  messaging.getToken()
  .then(function(refreshedToken) {
    console.log('Token refreshed.');
    // Indicate that the new Instance ID token has not yet been sent to the
    // app server.
    setTokenSentToServer(false);
    // Send Instance ID token to app server.
    sendTokenToServer(refreshedToken);
    // ...
  })
  .catch(function(err) {
    console.log('Unable to retrieve refreshed token ', err);
    outputError(err);
    showToken('Unable to retrieve refreshed token ', err);
  });
});

// Handle incoming messages. Called when:
// - a message is received while the app has focus
// - the user clicks on an app notification created by a sevice worker
//   `messaging.setBackgroundMessageHandler` handler.
messaging.onMessage(function (payload) {
    console.log("Message received. ", payload);
    // ...
});


var sendTokenToServer = function(token) {
  console.log(`sendTokenToServer(${token})`);
};

var setTokenSentToServer = function(value) {
console.log(`setTokenSentToServer(${value})`);
};

var showToken = function(token) {
console.log(`showToken(${token})`);
};



var outputError = function(error) {
  var e = JSON.stringify(error);
  $('.errorBox').append(`<p>${e}</p>`);
};

$('#btnSubscribeMovement').click(function() {
  messaging.subscribeToTopic("Movement");
});

 </script>